.App {
  text-align: center;
  width: 800px;
  height: 800px;
}
.amap-marker-label{ 
  position: absolute; 
  z-index: 2; 
  border: 1px solid red; 
  background-color: yellow; 
  white-space: nowrap; 
  cursor: default; 
  font-size: 12px; 
}
